* {
    box-sizing: border-box;
}

/* Navigation */
.navigation {
    background-color: red;
}

.navigation a {
    color:bisque;
}

/* Header */
.header_title {
    background-color: bisque;
    padding-top: 1%;
    padding-bottom: .5%;
    background-image: url(./netherlands-4k-gz-3840x2160.jpg);
    height: 150px;
}

/* Body */
.content {
    background: linear-gradient(-45deg, #35577D, #141E30);
}

p {
    font-family: Arial, Helvetica, sans-serif;
    color: #fff;
}

.content .header_title {
    text-align: center;
}

.uppercase {
    text-transform: uppercase;
}

h2 {
    color:white;
    font-family:Arial, Helvetica, sans-serif;
}

a[href*=Aethena] {
    color:purple;
}

a:hover {
    color: darkorange;
}

div.heading-background h2 {
    background-color: maroon;
}

h3.his-title {
    background-color: gray;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.history h3 {

}

table {
    border: 3px solid white;
    padding: 10px;
    text-align: center;
    color: white;
}

table tr {
    margin:
}

h1,
.heading-background {

}

.form hr {
}

}

/*
* {
    [border]: 1px solid red;
}
*/